<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.paulrudy.alfred.go-to-here</string>
	<key>connections</key>
	<dict>
		<key>19C8DD07-AE0B-4F10-BE06-375F1BB6C1EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF2156F3-85AB-4C1E-AF1C-ADAD6CE46AC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DECD685-7EB7-4756-94C7-4DEA5975CE46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90062CAB-7E3D-477B-8622-6333AA289ED9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26250549-271B-4CA8-A0AF-58FC061EBC04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDD6D4E7-5371-41AD-8F2F-831BB1F97DFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>332DB2C2-BBBA-42D6-9FED-BC8D9B3C3798</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D65D414D-FF14-485B-8AAF-026106ABAEAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>470E32FC-0FD4-43F9-BD1B-F8C344EA87E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0185C32-EC48-4AE1-AB17-95BC8D511351</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55860F6A-AEF4-4210-BF0E-58FCD4330BA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7367D2AE-0630-43C5-B705-53C85C157632</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D2C4282-C156-4949-98AE-1A4A792E9C6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D0D2280-B249-4E66-A203-143E9714D365</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ECF2BDF6-F1CD-48B1-95AD-E61C4BFEB062</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>598E6EE6-02A2-4C1D-8207-64123037792A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7367D2AE-0630-43C5-B705-53C85C157632</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF3FB7F0-7590-4D8B-BAB9-06A330E50FEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90062CAB-7E3D-477B-8622-6333AA289ED9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5E7A658-77F4-43C6-8CB4-1E52C01DCEC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98BDEF2A-8314-4832-AAF9-48EDB7F9E85C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B255B2C2-9FDD-4EF8-B1A0-9832D76F9A60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B255B2C2-9FDD-4EF8-B1A0-9832D76F9A60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0673C9A-172B-4B43-A9C4-BF70E71C6D5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4E2EBB0-8B89-477A-A7CC-B5EBB39F1D38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D1B13DA-B2A2-4142-ABB7-7152E5400E96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>19C8DD07-AE0B-4F10-BE06-375F1BB6C1EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BA0FC35E-D5CE-4939-BA71-56308DB6CE24</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDD6D4E7-5371-41AD-8F2F-831BB1F97DFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1F3CFE0-FB8C-40B5-A278-255B8B9FBD49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5E7A658-77F4-43C6-8CB4-1E52C01DCEC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55860F6A-AEF4-4210-BF0E-58FCD4330BA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C763D631-E5D1-461B-9A1C-842E65E372E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B255B2C2-9FDD-4EF8-B1A0-9832D76F9A60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D65D414D-FF14-485B-8AAF-026106ABAEAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D2C4282-C156-4949-98AE-1A4A792E9C6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCF49360-412D-456B-8150-25174D9186AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B255B2C2-9FDD-4EF8-B1A0-9832D76F9A60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF3FB7F0-7590-4D8B-BAB9-06A330E50FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>470E32FC-0FD4-43F9-BD1B-F8C344EA87E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1F3CFE0-FB8C-40B5-A278-255B8B9FBD49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4E2EBB0-8B89-477A-A7CC-B5EBB39F1D38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECF2BDF6-F1CD-48B1-95AD-E61C4BFEB062</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DECD685-7EB7-4756-94C7-4DEA5975CE46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0185C32-EC48-4AE1-AB17-95BC8D511351</key>
		<array/>
		<key>F0673C9A-172B-4B43-A9C4-BF70E71C6D5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19C8DD07-AE0B-4F10-BE06-375F1BB6C1EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF2156F3-85AB-4C1E-AF1C-ADAD6CE46AC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>332DB2C2-BBBA-42D6-9FED-BC8D9B3C3798</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>paulrudy</string>
	<key>description</key>
	<string>Switch current path of Open/Save dialogs and Finder windows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Go to Here</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The workflow didn't detect a path in the input</string>
				<key>title</key>
				<string>Not a path</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7D1B13DA-B2A2-4142-ABB7-7152E5400E96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The workflow didn't detect a valid place to enter the path in the frontmost app</string>
				<key>title</key>
				<string>Not a MacOS dialog window or Finder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3D0D2280-B249-4E66-A203-143E9714D365</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.exists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>E1F3CFE0-FB8C-40B5-A278-255B8B9FBD49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>here</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>26250549-271B-4CA8-A0AF-58FC061EBC04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>has path</string>
						<key>uid</key>
						<string>BA0FC35E-D5CE-4939-BA71-56308DB6CE24</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B4E2EBB0-8B89-477A-A7CC-B5EBB39F1D38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>input_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BDD6D4E7-5371-41AD-8F2F-831BB1F97DFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/return-nearest-dir.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ECF2BDF6-F1CD-48B1-95AD-E61C4BFEB062</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/check-actionable.scpt</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF2156F3-85AB-4C1E-AF1C-ADAD6CE46AC7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>19C8DD07-AE0B-4F10-BE06-375F1BB6C1EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>output_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1DECD685-7EB7-4756-94C7-4DEA5975CE46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>expression</key>
				<string>{var:delay_ms} / 1000</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.expression</string>
			<key>uid</key>
			<string>90062CAB-7E3D-477B-8622-6333AA289ED9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:can_continue}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>598E6EE6-02A2-4C1D-8207-64123037792A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5D2C4282-C156-4949-98AE-1A4A792E9C6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>can_continue</key>
					<string>{var:check_actionable1}</string>
					<key>get_container</key>
					<string>{var:check_actionable2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D65D414D-FF14-485B-8AAF-026106ABAEAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>check_actionable</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>332DB2C2-BBBA-42D6-9FED-BC8D9B3C3798</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:keyword_file_filter}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Choose a file or folder</string>
				<key>title</key>
				<string>Go to folder</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>98BDEF2A-8314-4832-AAF9-48EDB7F9E85C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>F0185C32-EC48-4AE1-AB17-95BC8D511351</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>text_to_type</key>
					<string>{var:output_path}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/keyboard-simulation/keyboard.type</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>DF3FB7F0-7590-4D8B-BAB9-06A330E50FEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>g</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1179648</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>55860F6A-AEF4-4210-BF0E-58FCD4330BA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:delay_s}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>7367D2AE-0630-43C5-B705-53C85C157632</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>delay_s</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C5E7A658-77F4-43C6-8CB4-1E52C01DCEC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:delay_s}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>470E32FC-0FD4-43F9-BD1B-F8C344EA87E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword_finder_windows_and_tabs}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/finder-windows-and-tabs-script-filter.scpt</string>
				<key>subtext</key>
				<string>Choose among open Finder windows and tabs</string>
				<key>title</key>
				<string>Go to Finder window or tab</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C763D631-E5D1-461B-9A1C-842E65E372E0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>input_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F0673C9A-172B-4B43-A9C4-BF70E71C6D5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B255B2C2-9FDD-4EF8-B1A0-9832D76F9A60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Go to here</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>DCF49360-412D-456B-8150-25174D9186AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Go To Here - Alfred workflow

Switch current path of Open/Save dialogs and Finder windows

## Note on updating to version 4+

*(If you've updated via the Alfred Gallery, you can ignore this message).*

The bundleID has changed since version 3.x. Importing later versions than 3.x will create a new Alfred workflow instead of updating the previous one.

Once you've imported the new version, delete the old version (check the version number beginning with `v` at the top of the main window). This also means that any changes you've made to the workflow's configuration will need to be redone.
___

[Available on the Alfred Gallery](https://alfred.app/workflows/paulrudy/go-to-here/)

[Alfred forum thread](https://www.alfredforum.com/topic/21963-go-to-here-updated-version/)

For the original workflow on which this one was based, see this [older Alfred forum thread](https://www.alfredforum.com/topic/6013-go-to-here).

## Usage

Switch the selected path in a MacOS Open/Save (and similar) dialog via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).
![screenshot of Go to Here universal action](src/screenshots/universal-action.png)

This can also be used to navigate the currently focused Finder window to the chosen path.

Alternatively, get paths for open Finder windows and tabs via the keyword `gtf`, or search files and folders via the keyword `gth`.

![screenshot of gtf keyword](src/screenshots/gtf-keyword.png)

![screenshot of gth keyword](src/screenshots/gth-keyword.png)

The workflow recognizes dialog windows based on the action button name. Button names recognized by default: "Open", "Save", "Export", "Move", "Select", "Upload", "Choose", and "Choose file". Those button names can be edited to add others, and/or to replace them with non-English versions, in the [Workflow Configuration](https://www.alfredapp.com/help/workflows/user-configuration/), along with adjusting the speed of execution in case of slower machines.

In the Finder, the workflow will switch the currently focused tab/window to the chosen path. If no window is open, it will open a new one.

### Call workflow from another workflow

Optionally use the external trigger to call this workflow from another one. For example:

1. In a separate workflow, add a List Filter, File Filter, or Script Filter. The workflow needs to output a file or folder path.
2. Add a [Call External Trigger Output](https://www.alfredapp.com/help/workflows/outputs/call-external-trigger/) for outputting the path.
3. In the settings for that output, click "Workflow Triggers..." and choose the trigger for this workflow.

## Credits

Thanks for help and suggestions: [ahmadt](https://www.alfredforum.com/profile/9334-ahmadt/), [sepulchra](https://www.alfredforum.com/profile/717-sepulchra/), [vitor](https://www.alfredforum.com/profile/1891-vitor/), [jwrc](https://www.alfredforum.com/profile/55950-jwrc/), [tombenz](https://www.alfredforum.com/profile/32208-tombenz/), [gingerbeardman](https://www.alfredforum.com/profile/1410-gingerbeardman/), [FireFingers21](https://www.alfredforum.com/profile/27846-firefingers21/), [sabry](https://www.alfredforum.com/profile/38742-sabry/)

Icon credit: [Stash Icons](https://github.com/stash-ui/icons). [MIT License](https://github.com/stash-ui/icons/blob/master/LICENSE)</string>
	<key>uidata</key>
	<dict>
		<key>19C8DD07-AE0B-4F10-BE06-375F1BB6C1EE</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>1DECD685-7EB7-4756-94C7-4DEA5975CE46</key>
		<dict>
			<key>note</key>
			<string>save output_path</string>
			<key>xpos</key>
			<real>1470</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>26250549-271B-4CA8-A0AF-58FC061EBC04</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>332DB2C2-BBBA-42D6-9FED-BC8D9B3C3798</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>3D0D2280-B249-4E66-A203-143E9714D365</key>
		<dict>
			<key>xpos</key>
			<real>1300</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>470E32FC-0FD4-43F9-BD1B-F8C344EA87E8</key>
		<dict>
			<key>note</key>
			<string>delay (see config)</string>
			<key>xpos</key>
			<real>1335</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>55860F6A-AEF4-4210-BF0E-58FCD4330BA3</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>5D2C4282-C156-4949-98AE-1A4A792E9C6F</key>
		<dict>
			<key>note</key>
			<string>continue if dialog or Finder</string>
			<key>xpos</key>
			<real>1185</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>7367D2AE-0630-43C5-B705-53C85C157632</key>
		<dict>
			<key>note</key>
			<string>delay (see config)</string>
			<key>xpos</key>
			<real>1035</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>7D1B13DA-B2A2-4142-ABB7-7152E5400E96</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>90062CAB-7E3D-477B-8622-6333AA289ED9</key>
		<dict>
			<key>xpos</key>
			<real>1580</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>98BDEF2A-8314-4832-AAF9-48EDB7F9E85C</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>B255B2C2-9FDD-4EF8-B1A0-9832D76F9A60</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>B4E2EBB0-8B89-477A-A7CC-B5EBB39F1D38</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>BDD6D4E7-5371-41AD-8F2F-831BB1F97DFD</key>
		<dict>
			<key>note</key>
			<string>save input_path</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>C5E7A658-77F4-43C6-8CB4-1E52C01DCEC2</key>
		<dict>
			<key>note</key>
			<string>save delay_s</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>C763D631-E5D1-461B-9A1C-842E65E372E0</key>
		<dict>
			<key>note</key>
			<string>select among open Finder windows and tabs</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>D65D414D-FF14-485B-8AAF-026106ABAEAA</key>
		<dict>
			<key>xpos</key>
			<real>1085</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>DCF49360-412D-456B-8150-25174D9186AD</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>DF3FB7F0-7590-4D8B-BAB9-06A330E50FEC</key>
		<dict>
			<key>xpos</key>
			<real>1145</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>E1F3CFE0-FB8C-40B5-A278-255B8B9FBD49</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>ECF2BDF6-F1CD-48B1-95AD-E61C4BFEB062</key>
		<dict>
			<key>note</key>
			<string>pass parent folder if the path is a file, unless we're in the Finder</string>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>F0185C32-EC48-4AE1-AB17-95BC8D511351</key>
		<dict>
			<key>xpos</key>
			<real>1440</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>F0673C9A-172B-4B43-A9C4-BF70E71C6D5E</key>
		<dict>
			<key>note</key>
			<string>save input_path</string>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>FF2156F3-85AB-4C1E-AF1C-ADAD6CE46AC7</key>
		<dict>
			<key>note</key>
			<string>can we continue? (valid dialog window or Finder)</string>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gth</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword for File Filter input</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_file_filter</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gtf</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword for Finder windows and tabs input</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_finder_windows_and_tabs</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Open, Save, Export, Move, Select, Upload, Choose, Choose file</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>A comma-separated, case sensitive list of action buttons to identify the correct dialog windows. Edit for other languages and/or buttons. Default: Open, Save, Export, Move, Select, Upload.</string>
			<key>label</key>
			<string>MacOS dialog window action buttons</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>button_names</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>250</integer>
				<key>markercount</key>
				<integer>21</integer>
				<key>maxvalue</key>
				<integer>1000</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Depending on your system's speed, a higher delay might be needed, or a lower delay may work. Delay is in milliseconds (ms).</string>
			<key>label</key>
			<string>Value for delays</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>delay_ms</string>
		</dict>
	</array>
	<key>version</key>
	<string>4.4.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
